<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--
            The boot activity is required so Aniyomi can detect the extension
            when it scans installed packages. Do not remove it.
        -->
        <activity
            android:name="eu.kanade.tachiyomi.extension.ExtensionBootActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <!-- These are injected from build.gradle via manifestPlaceholders -->
        <meta-data
            android:name="tachiyomi.extension.class"
            android:value="${extClass}" />
        <meta-data
            android:name="tachiyomi.extension.factory"
            android:value="${extFactory}" />
        <meta-data
            android:name="tachiyomi.nsfw"
            android:value="${nsfw}" />
    </application>

</manifest>
